@using System;
@using System.Collections.Generic;
@using System.Linq;

@using UiLogics;
@using WorkerConnection;

@inject HttpClient Http;
@inject IJSRuntime JS;
@inject CompileQueueService CompileQueue;

@page "/CodeEdit"

<style>
    .width-matchParent {
        width: 100%
    }
</style>

<WasmCsTest.Components.CodeEditor @bind-UserCode="userCode" @bind-UserCode:event="OnChanged" CodeEditorContext="CodeEditorContext" />

@if (isCompiling)
{
    <button class="width-matchParent btn btn-secondary">コンパイル取消(未実装)</button>
}
else if (isRunning)
{
    <button class="width-matchParent btn btn-secondary">プログラム強制終了(未実装)</button>
}
else
{
    <button class="width-matchParent btn btn-primary" @onclick="OnRunButtonClicked">実行</button>
}

<hr />

<WasmCsTest.Components.CompileResult CodeEditorContext="CodeEditorContext" />

<hr />

<WasmCsTest.Components.VirtualConsole CodeEditorContext="CodeEditorContext" />

@code{
    private string? userCode;
    private CodeEditorContext? CodeEditorContext;

    private bool isCompiling => CodeEditorContext is null ? false : CodeEditorContext.CompileState == CompileStatus.CompileWaiting || CodeEditorContext.CompileState == CompileStatus.Compiling;
    private bool isRunning => CodeEditorContext is null ? false : CodeEditorContext.RunCodeState == RunCodeStatus.RunWaiting || CodeEditorContext.RunCodeState == RunCodeStatus.Running;

    protected override void OnInitialized()
    {
        CodeEditorContext = new CodeEditorContext(CompileQueue);
        CodeEditorContext.AddUpdateUiCallBack(async () =>
        {
            StateHasChanged();
            await Task.Yield();
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await CompileQueue.TryInitialize(JS, Http);
    }

    private async Task OnRunButtonClicked()
    {
        if (CodeEditorContext is not null && userCode is not null)
        {
            await CodeEditorContext.Compile(userCode);
            if(CodeEditorContext.CompileResult is null)
            {
                throw new InvalidOperationException();
            }
            if (CodeEditorContext.CompileResult.IsSuccessed)
            {
                await CodeEditorContext.RunCodeAsync();
            }
        }
    }
}
