@using System;
@using System.Collections.Generic;
@using System.Linq;

@page "/"

<h1>Hello, C# world!</h1>

<h2>このアプリについて</h2>
C#をブラウザ上で実行する実験的プロジェクトです。C#コンパイラと実行環境がWebブラウザ上で動作します。

<hr />

@code{
   
}
