@using System;
@using System.Collections.Generic;
@using System.Linq;

@using CodeRunner;
@using UiLogics;
@inject HttpClient Http;
@inject IJSRuntime JS;

<style>
    #codeEditorContainer {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-rows: auto 1fr auto auto;
    }

    .CodeMirror {
        max-height:100%;
        height: 100%;
        font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
        font-size: @codeEditFontSizeString;
    }
</style>

<div id="codeEditorContainer">
    <h4 style="grid-row:1;">コードエディタ</h4>

    <div style="grid-row:2;">
        <textarea @bind="UserCode" id="CodeEditor"></textarea>
    </div>

    <div style="grid-row:3">
        <label>文字サイズ</label>
        <input type="number" @bind="CodeEditFontSize" style="width:75px" />
        <label>pt</label>
    </div>

    <div style="grid-row:4">
        <span>行数:@userCodeLineCount</span>
        <span>変更回数:@changedEventRisedCount</span>
    </div>
</div>

@code{
    private CodeMirrorWrapper? codeMirrorWrapper;

    [Parameter]
    public CodeEditorContext? CodeEditorContext { get; set; }

    [Parameter]
    public string? UserCode { get; set; }

    [Parameter]
    public int CodeEditFontSize { get; set; } = 12;

    [Parameter]
    public EventCallback<string> OnChanged { get; set; }

    private string codeEditFontSizeString { get => $"{CodeEditFontSize.ToString()}pt"; }

    private int userCodeLineCount;
    private int changedEventRisedCount;

    protected override async Task OnInitializedAsync()
    {
        UserCode = CodeTempletes.TempleteCode;

        codeMirrorWrapper = await CodeMirrorWrapper.CreateInstanceAsync(JS);
        await codeMirrorWrapper.SetToTextArea("CodeEditor");
        codeMirrorWrapper.OnChange += OnUserCodeChanged;
        await OnUserCodeChanged();
    }

    private async void OnUserCodeChanged(object? sender, EventArgs e) => await OnUserCodeChanged();
    private async Task OnUserCodeChanged()
    {
        if (codeMirrorWrapper is null)
        {
            return;
        }
        UserCode = await codeMirrorWrapper.GetCodeText();
        var line = UserCode.Count(c => c == '\n') + 1;
        if (userCodeLineCount != line)
        {
            userCodeLineCount = line;
            OnUserCodeLineChanged();
        }
        changedEventRisedCount++;

        //JSからイベントが発生した場合自動更新されない
        this.StateHasChanged();

        await OnChanged.InvokeAsync(UserCode);
    }

    private void OnUserCodeLineChanged()
    {

    }
}
